@page
@model ZooBazaarWeb.Pages.Opening_hoursModel
@{
}
<section class="section contact-section" id="section-contact">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">Opening Hours</h2>
                <p data-aos="fade-up"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <img src="images/map.jpg" alt="" width="500">
            </div>
            <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="100">
                <ul class="list-unstyled link">
                    <li>Monday 10:00 PM - 18:00 AM</li>
                    <li>Tuseday 10:00 PM - 18:00 AM</li>
                    <li>Wedensday 10:00 PM - 18:00 AM</li>
                    <li>Thursday 10:00 PM - 18:00 AM</li>
                    <li>Friday 10:00 PM - 18:00 AM</li>
                </ul>
            </div>
        </div>
    </div>
</section>